html {
  --space-mono: 'Space Mono', monospace;
  --work-sans: 'Work Sans', sans-serif;
  --primary-color: #2b2b2b;
  --secondary-color: #3b3b3b;
  --caption-label-text: #858584;
  --ccc: #cccccc;
  --text: #ffffff;
  --cta-color: #a259ff;
}

body {
  background-color: var(--primary-color);
  color: var(--text);
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.92rem;
  margin-bottom: 1rem;
}

h2,
h3 {
  font-family: var(--work-sans);
}

.width-315 {
  max-width: 31.5rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.trending-wrapper,
.discover-cards-wrapper,
.hiw-cards-wrapper,
.join-wrapper {
  justify-content: center;
}

/* transition effects */
.transition-anim {
  transition: all 0.3s ease;
}

.transition-anim:hover {
  transform: scale(0.95);
}

/*+++++++++++++++++++++++++++++++++

 Navigation
 
+++++++++++++++++++++++++++++++++*/

nav {
  padding: 1.5em 3em;
}

.nav-links {
  display: none;
}

.logo {
  width: 18.256rem;
}

/*+++++++++++++++++++++++++++++++++

 hero section
 
+++++++++++++++++++++++++++++++++*/

header {
  padding-top: 4em;
  padding-bottom: 4em;
}

.text {
  font-family: var(--work-sans);
  font-weight: 400;
  line-height: 2.24rem;
}

.hero .text {
  margin-bottom: 4rem;
}

.hero-card-img {
  width: 31.5rem;
  max-height: 20.6rem;
  object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.avatar-card-bottom {
  background-color: var(--secondary-color);
  padding: 2.2rem 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-bottom: 4rem;
}

.nft-name {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.08rem;
  margin-bottom: 1rem;
}

.user-avatar {
  margin-right: 1.2rem;
  width: 2.4rem;
}

.avatar-name {
  font-family: var(--work-sans);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.24rem;
}

.btn {
  font-family: var(--work-sans);
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.24rem;
  max-width: 31.5rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary {
  background-color: var(--cta-color);
  border: 0.2rem solid var(--cta-color);
  width: 100%;
  color: var(--text);
  padding: 1.1em 0;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  margin-right: 1.2rem;
}

.button-total-container .btn-primary {
  margin-bottom: 4rem;
}

.total-auctions-artists {
  display: flex;
}

.total-auctions-artists-numbers {
  font-family: var(--space-mono);
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.52rem;
}

.heading {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.92rem;
  margin-bottom: 1rem;
}

/*+++++++++++++++++++++++++++++++++

trending collection section

+++++++++++++++++++++++++++++++++*/

/* main section */
.trending-collection-article {
  padding-top: 4em;
  padding-bottom: 4em;
}

.heading-text-container {
  margin-bottom: 4rem;
}

.trending-wrapper {
  flex-direction: column;
}

.nft-mini-container {
  margin-bottom: 1.5rem;
}

.trending-colletion-primary-img {
  margin-bottom: 1.5rem;
}

.nft-img {
  width: 9.5rem;
}

.user-name {
  font-family: var(--work-sans);
}

.btn-more {
  width: 9.5rem;
  height: 9.5rem;
  background-color: var(--cta-color);
  color: var(--text);
  border-radius: 2rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.24rem;
  font-family: var(--space-mono);
}

.trending-hidden-tablet,
.trending-hidden-desktop {
  display: none;
}

/*+++++++++++++++++++++++++++++++++

 top creators section
 
+++++++++++++++++++++++++++++++++*/

.creators-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.creator-card {
  background-color: var(--secondary-color);
  border-radius: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.creator-card:nth-last-child(6) {
  margin-bottom: 4rem;
}

.creator-card-heading {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.08rem;
  margin-bottom: 0.5rem;
}

.total-sales-text {
  font-family: var(--work-sans);
  font-weight: 400;
  line-height: 2.24rem;
  color: var(--caption-label-text);
  margin-right: 1rem;
}

.total-value {
  font-family: var(--space-mono);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.24rem;
}

.card-hidden-mobile {
  display: none;
}

.card-hidden-tablet {
  display: none;
}

/* ::before img number */
.img-number1::before {
  content: '1';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number2::before {
  content: '2';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number3::before {
  content: '3';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number4::before {
  content: '4';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number5::before {
  content: '5';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number6::before {
  content: '6';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number7::before {
  content: '7';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number8::before {
  content: '8';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number9::before {
  content: '9';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number10::before {
  content: '10';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number11::before {
  content: '11';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.img-number12::before {
  content: '12';
  font-family: var(--space-mono);
  font-size: 1.6rem;
  line-height: 2.24rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--caption-label-text);
  border-radius: 5rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-8px, -7px);
}

.btn-secondary {
  background-color: var(--primary-color);
  width: 100%;
  color: var(--text);
  border: 0.2rem solid var(--cta-color);
  padding: 1.1em 0;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creators-section .btn-secondary {
  margin-top: 2rem;
}

/*+++++++++++++++++++++++++++++++++

 browse categories section
 
+++++++++++++++++++++++++++++++++*/

.browse-categories-article {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.browse-categories-layout {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 31.5rem;
  margin-left: auto;
  margin-right: auto;
}

.browse-categories-heading {
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.92rem;
  margin-bottom: 4rem;
  backdrop-filter: blur(10px);
}

.browse-categories-img {
  width: 100%;
}

.card-title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.24rem;
}

.browse-categories-card-bottom {
  background-color: var(--secondary-color);
  padding: 2rem 2rem 2.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.card-extended7 {
  padding-bottom: 4.7rem;
}

/*+++++++++++++++++++++++++++++++++

 Discover More NFTs section
 
+++++++++++++++++++++++++++++++++*/

.discover-cards-wrapper {
  margin-bottom: 3rem;
}

.discover-more-nfts-section {
  padding-top: 4em;
  padding-bottom: 8em;
}

.discover-more-nfts-bottom-container {
  background-color: var(--secondary-color);
  padding: 2rem 2rem 2.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  max-width: 31.5rem;
  margin-bottom: 2rem;
}

.user-avatar-avatar-name-container {
  margin-bottom: 2.5rem;
}

.discover-more-nft-name {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 3.08rem;
  margin-bottom: 0.5rem;
}

.discover-more-avatar-name {
  font-family: var(--space-mono);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.24rem;
}

.price-highest-bid {
  font-family: var(--space-mono);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.32rem;
  color: var(--caption-label-text);
  margin-bottom: 0.8rem;
}

.discover-more-price-amount {
  font-family: var(--space-mono);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.32rem;
  color: var(--text);
  text-align: right;
}

/*+++++++++++++++++++++++++++++++++

 Magic Mushrooms section
 
+++++++++++++++++++++++++++++++++*/

.magic-section {
  background: url('../img/Magic-Mashrooms.avif') no-repeat;
  background-size: cover;
  padding-top: 12em;
  padding-bottom: 4em;
}

.btn-third {
  background-color: var(--text);
  border: 0.2rem solid var(--text);
  width: 100%;
  color: var(--primary-color);
  padding: 1.1em 0;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
}

.user-btn-card {
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  line-height: 2.24rem;
  background-color: var(--secondary-color);
  color: var(--text);
  margin-bottom: 3rem;
  width: 15.1rem;
}

.magic-heading {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4.56rem;
  margin-bottom: 3rem;
}

.time-countdown-container {
  font-family: var(--space-mono);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 23%, 0.5);
  padding: 3em;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.auction-title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.32rem;
  margin-bottom: 1rem;
}

.time-countdown-inner {
  align-items: normal;
}

.hrs-mns-scs-item {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.32rem;
}

.time {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 4.56rem;
  font-family: var(--space-mono);
  margin-bottom: 0.5rem;
}

.dbl-dots {
  font-size: 2.8rem;
  vertical-align: top;
  position: relative;
  bottom: 0.4rem;
}

/*+++++++++++++++++++++++++++++++++

 How it works section
 
+++++++++++++++++++++++++++++++++*/

.how-it-works {
  padding-top: 4em;
  padding-bottom: 4em;
}

.how-it-works .text {
  margin-bottom: 4rem;
}

.how-it-works-card {
  background-color: var(--secondary-color);
  padding: 2em;
  border-radius: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}

.how-it-works-img {
  width: 10.1rem;
}

.how-it-works-card .card-title {
  margin-bottom: 1rem;
}

.how-it-works-text {
  font-family: var(--work-sans);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.68rem;
}

/*+++++++++++++++++++++++++++++++++

 Join our weekly digest section
 
+++++++++++++++++++++++++++++++++*/

.join-section {
  padding-top: 4em;
  padding-bottom: 4em;
}

.astro-img {
  margin-bottom: 3rem;
}

.join-section .text {
  margin-bottom: 4rem;
}

.join-form-container {
  flex-direction: column;
}

input[type='email'] {
  outline-style: none;
}

input[type='email'] {
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-bottom: 1.6rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.24rem;
  font-family: var(--work-sans);
  border: 0.2rem solid var(--text);
}

::placeholder {
  color: var(--primary-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--primary-color);
}

.btn-subscribe {
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.24rem;
  background-color: var(--cta-color);
  color: var(--text);
  border: 0.2rem solid var(--cta-color);
  justify-content: center;
  align-items: center;
}

/* Footer section */
footer {
  background-color: var(--secondary-color);
  padding-top: 4em;
  padding-bottom: 4em;
}

.footer-logo {
  width: 24.341rem;
  margin-bottom: 2rem;
}

.footer-text {
  font-family: var(--work-sans);
  font-weight: 400;
  line-height: 2.24rem;
  margin-bottom: 2rem;
  color: var(--ccc);
}

.footer-text:nth-last-child(odd) {
  margin-bottom: 1.5rem;
}

.socials {
  gap: 1rem;
  margin-bottom: 3rem;
}

.footer-headings {
  font-family: var(--space-mono);
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.52rem;
  margin-bottom: 2rem;
}

.explore-links-container {
  flex-direction: column;
  align-items: start;
  margin-bottom: 3rem;
}

.explore-link {
  margin-bottom: 2rem;
  color: var(--ccc);
  font-family: var(--work-sans);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.24rem;
}

.explore-link:last-of-type {
  margin-bottom: 0rem;
}

.footer-form-container {
  margin-bottom: 3rem;
  max-width: 31.5rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--caption-label-text);
  margin-bottom: 2rem;
  width: 100%;
}

.copyrights {
  font-family: var(--work-sans);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.32rem;
  color: var(--ccc);
}
